<div class="container main-container">  
    <h3 class="espaco">Contato</h3>
    <hr class="espaco"/>
    <div class="texto">
      <h5>Desenvolvedor .NET Full Stack</h5>
      <section>
        <div class="titulo-tecnologia">Atuação no back-end utilizando as seguintes tecnologias:</div>        
        <div class="tecnologias">
          <div class="coluna">
            <article>.NET Framework</article>
            <article>.NET Core</article>
            <article>APS.NET MVC</article>
            <article>ASP.NET Core</article>
            <article>Web API</article>
            <article>SOLID</article>            
          </div>
          <div class="coluna">
            <article>Clean Code</article>             
            <article>Design Patters</article>
            <article>DDD</article>
            <article>ORM Dapper</article>
            <article>EntityFramework Core</article>
            <article>SQL Server</article>            
          </div>       
        </div>
        
        <div class="titulo-tecnologia">Atuação no front-end utilizando as seguintes tecnologias:</div>        
        <div class="tecnologias">
          <div class="coluna">
            <article>HTML 5</article>
            <article>CSS3</article>
            <article>JavaScript</article>
            <article>TypeScript</article>                        
          </div>
          <div class="coluna">
            <article>jQuery</article>            
            <article>Angular 9+</article>
            <article>Angular Material</article>
            <article>Bootstrap</article>
          </div>       
        </div>
        
      </section>
    </div>
</div>